*~
*.bak
*.back
*.swp
*.py[cod]
*.log

# C extensions
*.so
*.a

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea
\#*
.\#*
node_modules/
conf/local.ini
.settings/

.DS_Store
